# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/HELP.md
backend/.settings/
backend/.project
backend/.classpath
backend/.factorypath
backend/.springBeans
two-factor-auth/backend/src/main/resources/application.yml

# Frontend
frontend/node_modules/
frontend/build/
frontend/coverage/
frontend/.pnp
frontend/.pnp.js
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Misc
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.pid
*.seed
*.pid.lock
